body{
    margin: 0;
    padding: 0;
}

header
{
    height: 105px;
    margin: 0;
    opacity: 0.9;
    background-color: #eaeaea;
}

.header{
    width: 70%;
    margin: auto;
}

.logo{
    padding-top: 15px;
}

.header-nav{
    margin-top: 40px;
    float: right;
}

.header-nav a{
    display: inline;
    color: #843959;
}

.search{
    margin-top: 30px;
    margin-left: 15px;
    float: right;
}

.search input{
        z-index: 500;
    height: 30px;
    width: 140px;
    border: solid 1px white;
    box-shadow: inset 0px 0px 10px #eaeaea;
}

.search button{
    background-color: #964415;
    height: 34px;
    color: white;
    border: solid 1px #b64301;
    margin-left: -3px;
    cursor: pointer;
}

.carousel-block{
    float: left;
    width: 76%!important;
     height: 10px;
}

#owl-demo{
    top:-150px;
        z-index: -1;

}

.item{
    width: 76%;
}

.item img{
}

.owl-wrapper-outer{

}

.left-block{
    float: left;
    width: 11.3%;
    height: 371px;
    background-image: url("image/left.jpg");
    background-repeat: no-repeat;
    opacity: 0.3;
}

.right-block{
    float: right;
    width: 11.3%;
    height: 371px;
    background-image: url("image/right.jpg");
    background-repeat: no-repeat;
    opacity: 0.2;
}

.customNavigation{

}

.owl-controls{
    position: relative;
    top:-370px;
    left: -25px;
    text-align: right!important;
}

.owl-theme .owl-controls .owl-page span {
    background-color: #f0d9b7;
    box-shadow: inset 3px 0px 3px darkgrey;
    width: 22px;
    height: 22px;
}

.owl-theme .owl-controls .owl-page.active span{
    background-color: #f0d9b7;
}


.prev{
    position: relative;
    z-index: 200;
    color: #f0d9b7;

    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;

    top:45px;
    left: 800px;

    transform: rotate(-135deg);
    text-align: right!important;

}

.next{
    position: relative;

    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;

    left: 0;
    transform: rotate(45deg);
}

.bottom-page{
    background-color: #627364;
    display: block;
    clear: both;
}

.middle-page{
    display: block;
    position: relative;
        background-color: white;
        margin: auto;
        border: solid 1px #e6e6e6;
    box-shadow: 2px 2px 10px black;
    top:-25px;
    width: 60%;
}



.mp-left-block{
    float: left;
    width: 20%;
}

.mp-middle-block{
    float: left;
    padding: 30px;
    width: 40%;
    
    background-image: url("image/background-md.jpg");
    background-repeat:no-repeat;
    background-size: cover;
        border-left: 3px solid #e6e6e6;
    border-right: 3px solid #e6e6e6;
   
}

.mp-right-block{
    float: left;
    width: 33%;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

h1{
    font-size: 36px;
}

p{
    font-size: 22px;
    margin: 10px 0;
}

p>span{
   color: #964415;
   font-size: 18px;
   line-height: 60px;
}

.sidebar{
    padding: 0;
}

.sidebar > li{
    display: block;
    list-style: none;
     color: #964415;
   font-size: 22px;
   padding: 2px 15px;
   margin:10px 0;
   cursor: pointer;
}
.sidebar > active{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28343b+0,828c95+35,b5bdc8+61 */
background: #28343b; /* Old browsers */
background: -moz-linear-gradient(left,  #28343b 0%, #828c95 35%, #b5bdc8 61%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #28343b 0%,#828c95 35%,#b5bdc8 61%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #28343b 0%,#828c95 35%,#b5bdc8 61%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=1 ); /* IE6-9 */
     color: white;
}


.sidebar >li:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28343b+0,828c95+35,b5bdc8+61 */
background: #28343b; /* Old browsers */
background: -moz-linear-gradient(left,  #28343b 0%, #828c95 35%, #b5bdc8 61%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #28343b 0%,#828c95 35%,#b5bdc8 61%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #28343b 0%,#828c95 35%,#b5bdc8 61%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=1 ); /* IE6-9 */
     color: white;

}
.arrow-right {
    display: inline-block;
    margin-top: 3px;
    float:right;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-left: 10px solid #6d686f;
}

.more-info{
     border: 5px solid #e6e6e6;
     background-color: white;
     padding: 15px;
}

.more-info button{
    color:white;
    width: 100%;
    font-size: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d5cea6+0,c9c190+40,b7ad70+100;Brown+3D */
background: rgb(213,206,166); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(213,206,166,1) 0%, rgba(201,193,144,1) 40%, rgba(183,173,112,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#b7ad70',GradientType=1 ); /* IE6-9 */
padding: 10px 0;
border: none;
cursor: pointer;
}

.footer{
    background-color: #c3c5b1;
 width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-col{
    display: inline-block;
    padding: 20px;
    
}

.footer-col:nth-child(2n){
    border-left: 2px solid #e6e6e6;
border-right: 2px solid #e6e6e6;
}

.footer-col a{
    display: block;
    color:#737468;
    margin: 5px 0;
}

.footer-col h2{
    color:White;
    margin: 5px 0;
    font-size: 20px;
}

.item-details{
    padding: 0 20px 10px 10px;
         
}

.item-details > p{
color: #964415;
         font-size: 18px;
}

.item-details > img{
    float: left;
        border: 5px solid #e6e6e6;
    margin: 5px;
    margin-bottom: 40px;
}

.item-details > .date{
    color: grey;
         font-size: 18px;
         margin: 0;
}
.view{
    display: inline-block;
    color: #964415;
padding-right: 65px;
float: right;
}